.App {
  text-align: center;
}

.site-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px - 70px);
  padding: 24px;
  background: #fff;
}

.ant-layout-footer {
  text-align: center;
}
